#notice { background-color: #A4E7A0; border: 1px solid #26722D; }  
#error { background-color: #F0A8A8; border: 1px solid #900; }  
#notice, #error { width: 90%; margin: 1.5em auto 10px auto; padding: 5px; }  
#notice p, #error p { margin-left: 20px; padding: 0; font-size: 1em; color: #000; }  
#notice a, #error a { text-decoration: none; padding: 0 3px; }

#notice a { border: 1px solid #26722D; color: #26722D; }  
#error a { border: 1px solid #900; color: #900; }  
#notice a:hover, #error a:hover { color: #333; border: 1px solid #333; }