<table>
  <tr>
    <td><strong><%= @wisp.name %></strong> - <%= @wisp_address_locality %> </td>
  </tr>
  <tr><td></td></tr>
  <tr>
    <td><em><strong><%=t :Wisp_still_without_aps %></strong></em></td>
  </tr>
  <tr>
    <td><em><%=t :Wisp_for_creation_of_ap_use_panel %></em></td>
  </tr>
</table>