.fieldWithErrors {
    padding: 3px;
    background-color: red;
    display: table;
    width:99%;
}

.fieldWithErrors input {
    width:99%;
    margin-left:2px;
}

.fieldWithErrors select {
    width:99%;
    margin-left:2px;
}

.fieldWithErrors textarea {
    padding: 3px;
    width:99%;
    display: table;
}

input:focus {
    outline: green solid thin;
}

select:focus {
    outline: green solid thin;
}

textarea:focus {
    outline: green solid thin;
}

img.wispmanager_logo {
    vertical-align:sub;
}

h4 {
    text-align:center;
}

fieldset p textarea {
    width:98%;
    margin-left:5px;
}

fieldset p label {
    width:98%;
    margin-left:5px;
}

fieldset p input {
    width:98%;
    margin-left:5px;
}

fieldset p select {
    width:99%;
    margin-left:5px;
}

h1#branding {
    font-size:2em;
}

#locales {
    float: right;
    margin-top:-30px;
    margin-right:5px;
}

.warn {
    font-size:1.5em;
    color:red;
    text-align:center;
}

.warn input {
    margin:5px 30%;
    width:40%;
}

.info {
    font-size:1.5em;
    color:green;
    text-align:center;
}

.notice {
    font-size:1.4em;
    text-align:center;
}

.nohand {
    cursor:default;
}

.right {
    float:right;
}

.center, .center * {
    text-align:center;
}

.pad_top_5 {
    padding-top:5px;
}

#wisp_map {
    width:100%;
    height:300px;
}

#access_point_map {
    width:100%;
    height:240px;
}

#access_point_new_map, #access_point_edit_map {
    width:100%;
    height:320px;
}

.lat, .lon {
    display:none;
}
