<%#
# This file is part of the OpenWISP Manager
#
# Copyright (C) 2010 CASPUR (wifi@caspur.it)
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#%>

<script id="ap_infowindow_templ" type="text/html">
  <table>
    <tr>
      <td><strong><%=t :Name %></strong></td>
      <td>__name__</td>
    </tr>
    <tr>
      <td><strong><%=t :Address %></strong></td>
      <td>__address__</td>
    </tr>
    <tr>
      <td><strong><%=t :City %></strong></td>
      <td>__city__</td>
    </tr>
    <tr>
      <td colspan="2" class="center"><strong><a href="__link__"><%=t :Detailed_info %></a></strong></td>
    </tr>
  </table>
</script>