<%#
# This file is part of the OpenWISP Manager
#
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#%>

<% bridgeables.each do |bridgeable| %>
    <tr>
      <td><%= check_box_tag("#{bridgeables_param_name}[]", bridgeable.id, selected_bridgeables.include?(bridgeable.id)) %></td>
      <td><%=h bridgeable.friendly_name %></td>
      <td>
        <% if (bridgeable.notes.nil? or bridgeable.notes.length == 0) %>
          &nbsp;
        <% else %>
          <%= link_to image_tag("notes.png", :border=>0, :size => "16x16", :alt => t(:Notes)), "#",
                      :title => h(bridgeable.notes)
          %>                    
        <% end %>
      </td>
    </tr>
<% end %>
